/* style navbar */
.header{
	width: 100%;
	border-bottom: 1px solid;
	padding: 10px;
	background: white;
}
.logo{
	width: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.menu{
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    background: black;

}

/* Main */
.achievement {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right,white,black);
    max-width: 1200px;
}
.card {
    position: relative;
    width: 300px;
    align-items: center;
    height: auto;
    margin: 20px;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}